{% extends "layout.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>All Books</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Author</th>
    <th>Year Published</th>
    <th>Type</th>
  </tr>
  {% for book in books %}
  <tr>
    <td>{{ book[0] }}</td>
    <td>{{ book[1] }}</td>
    <td>{{ book[2] }}</td>
    <td>{{ book[3] }}</td>
    <td>{{ book[4] }}</td>
    <td>
      <form action="/edit_book/{{ book[0] }}" method="GET" style="display:inline;">
        <button type="submit">Edit</button>
      </form>
      <form action="/delete_book/{{ book[0] }}" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="/">Back to Index</a>
{% endblock %}
